<div class="row text-center">
    <div class="col-12">
        <h1>{{title}}</h1>
        <h5 class="text-muted">{{message}}</h5>
    </div>
    <div class="col-12">
        <img src="{{url}}" alt="404" class="img-fluid" />
    </div>
</div>