
<div class="container">

    <div class="card mt-5 mb-5">
        <div class="card-header">
            <!-- create modal -->
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal">
            create new type
            </button>
        </div>
        <div class="card-body">
            <table id="example" class="table table-dark table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>Edit / Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each typesData as |t|}}
                    <tr>
                        <td>{{t.id}}</td>
                        <td>{{t.typeName}}</td>
                        <td>
                            <a href="/admin/edit/typesM/{{t.id}}" class="btn btn-warning editClass">Edit</a>
                            <a href="/admin/delete/types/{{t.id}}" class="btn btn-danger">Delete</a>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>

</div>








<!-- create Modal -->
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create a new Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="/admin/typesM" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="typeName" placeholder="Name">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="submit"  class="btn btn-success">CREATE</button>
                </div>
            </form>
        </div>

    </div>
</div>
