<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <link rel="stylesheet" href="../../assets/css/lib/bootstrap.min.css" />
    <title>{{{title}}}</title>
  </head>
  <body>

    <header class="">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button
            class="navbar-toggler collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-light"
                type="submit"
              >Search</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <main>
      {{{body}}}
    </main>

    <footer class="fixed-bottom bg-dark text-white">

      <div class="container bg-dark text-white">
        <div class="text-center text-capitalize">
          <p class="mb-0 pt-2">
            No &copyrights | code free to use | you can see the all code here:
            <a href="https://github.com/luisferllub230/Pokedex" target="_blank">click here</a><br
            />
            😁luisferllub230
          </p>
        </div>
      </div>

    </footer> 

    <script src="../../assets/js/index.js"></script>
    <script src="../../assets/js/lib/bootstrap.min.js"></script>
  </body>
</html>